<!-- Footer -->
<br>
<div class="bg-transparent">
<hr><br>
<footer class="container">
  <div class="sticky-bottom">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/Pedro_hgm30">
              <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-lg text-body" %></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/pedro-henrique-gon%C3%A7alves-166605186/">
              <%= fa_stacked_icon "linkedin inverse", base: "circle", class: "fa-lg text-body" %></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/pedro-hgm30">
                <%= fa_stacked_icon "github inverse", base: "circle", class: "fa-lg text-body" %></i>
            </a>
          </li>
        </ul>
        <h6 class="text-body text-center font-weight-bold">Copyright &copy; One Month Blog 2019</h6>
        <br>
      </div>
    </div>
  </div>
</footer>
</div>