<% provide(:page_title, "About") %>

<div class="page-heading text-center">
  <h1 class="h1-responsive">About The Project</h1>
  <h3 class="h3-responsive text-black-50">This is <strong>why</strong> I do.</h3>
</div><br>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="lead"><p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;I'm an aspirant developer and I'm looking forward to becoming a <strong>great</strong> developer one day&nbsp; - hopefully, sooner than later. In order to do that I've been supported by a couple of remarkable people that both have been inspiring and motivating me. Having said that I want to thank God first for putting me in the way of those people and to thank them for all they have done, because if weren't for that maybe I would never be able to pursue this path that I'm enjoying so much. So all the effort that I put in this project is dedicated to them.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
      <p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Well, but what's this all about? The whole project was born from a ( kind of ) take-home coding challenge, where I should both learn at least one new technology (It happens to be Ruby on Rails) and implement a blog using this technology; I had thirty-days to accomplish these tasks. The countdown started on April 24th, 2019 and the deadline is May 24th, 2019; by this time I've been studying to be a developer for almost two months and I had no previous experience, so keep that in mind.&nbsp;</p>
      <p>&nbsp; &nbsp; &nbsp; I tried to do my best for making things as good as they can get, and to make the blog as functional as possible. So I didn't want it to be a fictional blog, but a real one and in order to do that I've been keeping a record of the creation process through real posts, that tells a little bit about the things that I learned, the difficulties that I had, the choices that I made, etc. To scale the challenge a little bit I decided to write the posts (and everything else) fully in English because this is also very important to my goals hence I must practice it too. But I'm not whatsoever fluent and the posts were written in a very informal way, so bear with me about that. Then if you manage to get here for whatever reason I hope that you enjoy the project and if you have noticed some error, something to be improved,&nbsp; or maybe just want to know more about it, please feel free to reach me in the way that you prefer, all the links are for real. Until the next project!</p></div>
     
    </div>
  </div>
</div>
