<% provide(:page_title, "About") %>

<div class="page-heading text-center">
  <h1 class="h1-responsive">About The Project</h1>
  <h3 class="h3-responsive text-black-50">This is <strong>why</strong> I do.</h3>
</div><br>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <p class="lead">Well, what's this all about? The whole project was born from a ( kind of ) take-home coding challenge, where I should both learn new technology (It happens to be Rails) and implement a blog using this technology; I had thirty-days to accomplish these tasks.</p>
     
    </div>
  </div>
</div>
