<% provide(:page_title, "All Posts") %>



<% @posts.each do |post| %>
<br>

<%= link_to post.title, post_path(post), :class => "h2-responsive font-weight-bold text-body"  %>

<h6>Posted by
<% if post.author != nil %>
  <%= link_to post.author.name, author_path(post.author.id), :class => "font-weight-bold dark-grey-text"  %>  
<% else %>
    <a class="font-weight-bold dark-grey-text" href="#"> This Author no longer exist </a>
<% end %>
<%= post.created_at.strftime("%b %d, %Y") %></h6>

<hr>
<% end %>

<br>
<%= will_paginate @posts, class: "font-weight-bold text-center pagination, ", previous_label: "Newer", next_label: "Older"%>
<hr class="col-sm-2">

